@import "../../constants/variables";

.input-container {
  margin: 0 40px 6px;
  display: flex;
  align-items: center;
  background: $color-dark-white;
  border: 1px solid $color-soft-gray;
  border-radius: 3px;
  font-size: 14px;
  &:focus-within {
    border: 1px solid $color-gray;
  }
  .input-label {
    display: flex;
    line-height: 36px;
    height: 36px;
    flex: 1 0 0;
    position: relative;
    .input-placeholder {
      color: $color-dark-gray;
      font-size: 12px;
      position: absolute;
      left: 8px;
      right: 0;
      transform-origin: left;
      pointer-events: none;
    }
    .input-placeholder-nonempty {
      transform: scale(0.83333) translateY(-10px);
    }
    .input {
      flex: 1 0 auto;
      font-size: 16px;
      padding: 9px 0 7px 8px;
      outline: 0;
    }
    .input-nonempty {
      font-size: 12px;
      padding: 14px 0 2px 8px;
    }
  }
  .input-password-container {
    padding-right: 8px;
    .input-password {
      margin-left: 8px;
      .input-password-btn {
        color: $color-black;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
