// Imports
@import "constants/variables";
@import "components/Auth/Auth.scss";
@import "components/Footer/Footer.scss";
@import "components/Home/Home.scss";
@import "components/Input/Input.scss";
@import "components/Navbar/Navbar.scss";
@import "components/Post/Post.scss";
@import "components/PostDetails/PostDetails.scss";

// App style
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: $font-family;
  color: inherit;
  text-decoration: inherit;
  background: none;
  list-style-type: none;
  box-sizing: border-box;
  vertical-align: baseline;
  resize: none;
}
.app {
  background: $color-dark-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  min-height: 100vh;
}
