.post {
  background: #fff;
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post .post-header {
  padding: 14px 4px 14px 16px;
  max-width: calc(100% - 48px);
  flex-grow: 1;
}
.post .post-user {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.post .post-menu-btn {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.post .post-menu-btn .post-menu-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-menu-background {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.post .post-menu-background .post-menu-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.post .post-menu-background .post-menu-container button {
  border-top: 1px solid #dbdbdb;
  min-height: 48px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}
.post .post-menu-background .post-menu-container button:first-child {
  border-top: none;
}
.post .post-menu-background .post-menu-container button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.post .post-menu-background .post-menu-container .post-menu-warning {
  color: #ed4956;
  font-weight: 700;
}
.post .post-img {
  width: 100%;
}
.post .post-btns {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.post .post-btns .post-like-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.post .post-btns .post-like-btn:hover .post-like-icon {
  fill: #8e8e8e;
}
.post .post-btns .post-like-btn .post-like-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-btns .post-like-btn .post-unlike-icon {
  color: #ed4956;
  fill: #ed4956;
  width: 24px;
  height: 24px;
}
.post .post-btns .post-comment-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.post .post-btns .post-comment-btn:hover .post-comment-icon {
  color: #8e8e8e;
}
.post .post-btns .post-comment-btn .post-comment-icon {
  color: #262626;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;
  fill: none;
}
.post .post-likes {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 8px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.post .post-comments-container {
  padding: 0 16px;
}
.post .post-comments-container .post-message {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}
.post .post-comments-container .post-tags {
  color: #00376b;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0;
}
.post .post-comments-container .post-comments-display {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
}
.post .post-time {
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
}
.post .post-comment-add {
  border-top: 1px solid #efefef;
  padding: 6px 16px;
  width: 100%;
  display: flex;
  align-items: center;
}
.post .post-comment-add .post-emoji-container {
  padding: 8px 16px 8px 0;
}
.post .post-comment-add .post-emoji-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.post .post-comment-add .post-emoji-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-comment-add .post-comment-area {
  display: flex;
  flex-grow: 1;
  height: 18px;
  line-height: 18px;
  max-height: 80px;
  color: #262626;
  outline: 0;
  font-size: 14px;
}
.post .post-comment-add .post-comment-send {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
}
.post .post-comment-add .post-comment-send:disabled {
  opacity: 0.3;
}

/*# sourceMappingURL=Post.css.map */
