// Colors
$color-black: #262626;
$color-dark-black: rgba(0,0,0,.65);
$color-soft-black: rgba(0,0,0,.1);

$color-blue: #0095f6;
$color-dark-blue: #00376b;
$color-light-blue: rgba(0,149,246,.3);

$color-soft-gray: #dbdbdb;
$color-gray: #a8a8a8;
$color-dark-gray: #8e8e8e;
$color-light-gray: #efefef;

$color-red: #ed4956;

$color-dark-white: #fafafa;
$color-white: #fff;