.home-main {
  flex-grow: 1;
  .home-section {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
    .home-posts {
      margin-right: 28px;
      max-width: 614px;
    }
    .home-form {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .home-form-background {
        display: block;
        background-color: $color-dark-black;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}
