.form {
    background-color: $color-white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 718px;
    min-width: 348px;
    min-height: 391px;
    position: absolute;
    z-index: 1;
    margin: 20px;
    .form-title {
        width: 100%;
        height: 43px;
        border-bottom: 1px solid $color-soft-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-black;
        font-size: $font-size-xl;
        font-weight: $font-weight-medium;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: calc( 100vmin - 112px - 43px - 64px );
        max-height: min( calc( 100vw - 32px - 340px ), calc(898px - 43px) );
        max-width: min( calc( 100vw - 32px - 340px ), calc(898px - 43px) );
        min-height: calc( 391px - 43px );
        min-width: calc( 391px - 43px );
        padding: 24px;
        .form-media {
            color: $color-black;
            width: 96px;
            height: 77px;
            fill: $color-black;
        }
        .form-media-title {
            color: $color-black;
            font-size: $font-size-xxl;
            font-weight: $font-weight-light;
            margin-top: 16px;
            line-height: 26px;
        }
        .form-file-btn {
            margin-top: 24px;
            background-color: $color-blue;
            color: $color-white;
            font-size: $font-size-l;
            font-weight: $font-weight-medium;
            padding: 5px 9px;
            border: 1px solid transparent;
            border-radius: 4px;
            line-height: 18px;
            cursor: pointer;
            &:active {
                opacity: .7;
            }
            .form-filebase {
                display: none;
            }
        }
        .form-input {
            border-bottom: 1px solid $color-soft-gray;
            margin-top: 24px;
            padding: 4px 9px;
            outline: 0;
            &:focus {
                &::placeholder {
                    color: $color-gray;
                }
            }
        }
        .form-submit-btn {
            color: $color-blue;
            font-size: $font-size-l;
            font-weight: $font-weight-medium;
            padding: 16px;
            cursor: pointer;
            &:active {
                opacity: .7;
            }
        }
    }
}