@import "../../constants/variables";

.details-container {
  box-sizing: content-box;
  padding: 40px 20px;
  max-width: 935px;
  width: calc(100% - 40px);
  margin: 0 auto;
  align-items: stretch;
  flex-grow: 1;
  .details {
    display: flex;
    width: 100%;
    min-height: 450px;
    max-height: 600px;
    border: 1px solid $color-soft-gray;
    background-color: $color-white;
    .details-img-container {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      width: 598px;
      overflow: hidden;
      flex: 0 0 auto;
      .details-img {
        height: 100%;
      }
    }
    .details-social-container {
      display: flex;
      flex-direction: column;
      width: 335px;
      flex: 0 0 auto;
      .details-header-container {
        display: flex;
        border-left: 1px solid $color-light-gray;
        border-bottom: 1px solid $color-light-gray;
        .details-header {
          padding: 14px 4px 14px 16px;
          max-width: calc(100% - 48px);
          flex-grow: 1;
          .details-user {
            color: $color-black;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .details-menu-btn {
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .details-menu-icon {
            color: $color-black;
            fill: $color-black;
            width: 24px;
            height: 24px;
          }
        }
        .details-menu {
          background-color: $color-dark-black;
          display: flex;
          align-items: center;
          justify-content: center;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          .details-menu-container {
            background-color: $color-white;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            width: 400px;
            button {
              border-top: 1px solid $color-soft-gray;
              min-height: 48px;
              padding: 4px 8px;
              font-size: 14px;
              cursor: pointer;
              &:first-child {
                border-top: none;
              }
              &:active {
                background-color: $color-soft-black;
              }
            }
            .details-menu-warning {
              color: $color-red;
              font-weight: 700;
            }
          }
        }
      }
      .details-comments-container {
        padding: 16px;
        overflow-y: scroll;
        // width: calc(100% - 32px);
        height: calc(100% - 32px);
        flex-grow: 1;
        &::-webkit-scrollbar {
            display: none;
        }
        .details-user {
            color: $color-black;
            font-size: 14px;
            font-weight: 600;
          }
        .details-message {
          color: $color-black;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 4px;
          right: 0;
        }
        .details-tags {
          color: $color-dark-blue;
          font-size: 14px;
          font-weight: 400;
          margin: 4px 0;
        }
      }
      .details-btns {
        display: flex;
        align-items: center;
        padding: 6px 8px 8px 8px;
        width: 100%;
        border-top: 1px solid $color-light-gray;
        margin-top: 4px;
        .details-like-btn {
          display: flex;
          align-items: center;
          padding: 8px;
          cursor: pointer;
          &:hover .post-like-icon {
            fill: $color-dark-gray;
          }
          .details-like-icon {
            color: $color-black;
            fill: $color-black;
            width: 24px;
            height: 24px;
          }
          .details-unlike-icon {
            color: $color-red;
            fill: $color-red;
            width: 24px;
            height: 24px;
          }
        }
        .details-comment-btn {
          display: flex;
          align-items: center;
          padding: 8px;
          cursor: pointer;
          width: 40px;
          height: 40px;
          &:hover .post-comment-icon {
            color: $color-dark-gray;
          }
          .details-comment-icon {
            color: $color-black;
            width: 24px;
            height: 24px;
            stroke: currentColor;
            stroke-linecap: round;
            stroke-width: 2;
            fill: none;
          }
        }
      }
      .details-likes {
        width: 100%;
        padding: 0 16px;
        margin-bottom: 8px;
        color: $color-black;
        font-size: 14px;
        font-weight: 600;
      }
      .details-time {
        color: $color-dark-gray;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 16px;
      }
      .details-comment-add {
        border-top: 1px solid $color-light-gray;
        padding: 6px 16px;
        width: 100%;
        display: flex;
        align-items: center;
        .details-emoji-container {
          padding: 8px 16px 8px 0;
        }
        .details-emoji-btn {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
        .details-emoji-icon {
          color: $color-black;
          fill: $color-black;
          width: 24px;
          height: 24px;
        }
        .details-comment-area {
          display: flex;
          flex-grow: 1;
          height: 18px;
          line-height: 18px;
          max-height: 80px;
          color: $color-black;
          outline: 0;
          font-size: 14px;
        }
        .details-comment-send {
          color: $color-blue;
          font-size: 14px;
          font-weight: 600;
          &:disabled {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
