.post {
  background: $color-white;
  border: 1px solid $color-soft-gray;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .post-header {
    padding: 14px 4px 14px 16px;
    max-width: calc(100% - 48px);
    flex-grow: 1;
  }
  .post-user {
    color: $color-black;
    font-size: $font-size-l;
    font-weight: $font-weight-medium;
  }
  .post-menu-btn {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .post-menu-icon {
      color: $color-black;
      fill: $color-black;
      width: 24px;
      height: 24px;
    }
  }
  .post-menu-background {
    background-color: $color-dark-black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .post-menu-container {
      background-color: $color-white;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      width: 400px;
      button {
        border-top: 1px solid $color-soft-gray;
        min-height: 48px;
        padding: 4px 8px;
        font-size: $font-size-l;
        cursor: pointer;
        &:first-child {
          border-top: none;
        }
        &:active {
          background-color: $color-soft-black;
        }
      }
      .post-menu-warning {
        color: $color-red;
        font-weight: $font-weight-bold;
      }
    }
  }
  .post-img {
    width: 100%;
  }
  .post-btns {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    .post-like-btn {
      display: flex;
      align-items: center;
      padding: 8px;
      cursor: pointer;
      &:hover .post-like-icon {
        fill: $color-dark-gray;
      }
      .post-like-icon {
        color: $color-black;
        fill: $color-black;
        width: 24px;
        height: 24px;
      }
      .post-unlike-icon {
        color: $color-red;
        fill: $color-red;
        width: 24px;
        height: 24px;
      }
    }
    .post-comment-btn {
      display: flex;
      align-items: center;
      padding: 8px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      &:hover .post-comment-icon {
        color: $color-dark-gray;
      }
      .post-comment-icon {
        color: $color-black;
        width: 24px;
        height: 24px;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-width: 2;
        fill: none;
      }
    }
    .post-share-btn {
      display: flex;
      align-items: center;
      padding: 8px;
      cursor: pointer;
      &:hover .post-share-icon {
        color: $color-dark-gray;
      }
      .post-share-icon {
        color: $color-black;
        width: 24px;
        height: 24px;
        .share-icon-line {
          fill: none;
          stroke: currentColor;
          stroke-linejoin: round;
          stroke-width: 2;
        }
        .share-icon-polygon {
          fill: none;
          stroke: currentColor;
          stroke-linejoin: round;
          stroke-width: 2;
        }
      }
    }
  }
  .post-likes {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 8px;
    color: $color-black;
    font-size: $font-size-l;
    font-weight: $font-weight-medium;
  }
  .post-comments-container {
    padding: 0 16px;
    .post-message {
      color: $color-black;
      font-size: $font-size-l;
      font-weight: $font-weight-normal;
      margin-bottom: 4px;
    }
    .post-tags {
      color: $color-dark-blue;
      font-size: $font-size-l;
      font-weight: $font-weight-normal;
      margin: 4px 0;
    }
    .post-comments-display {
      color: $color-dark-gray;
      font-size: $font-size-l;
      font-weight: 400;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }
  .post-time {
    color: $color-dark-gray;
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .post-comment-add {
    border-top: 1px solid $color-light-gray;
    padding: 6px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    .post-emoji-container {
      padding: 8px 16px 8px 0;
    }
    .post-emoji-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .post-emoji-icon {
      color: $color-black;
      fill: $color-black;
      width: 24px;
      height: 24px;
    }
    .post-comment-area {
      display: flex;
      flex-grow: 1;
      height: 18px;
      line-height: 18px;
      max-height: 80px;
      color: $color-black;
      outline: 0;
      font-size: $font-size-l;
    }
    .post-comment-send {
      color: $color-blue;
      font-size: $font-size-l;
      font-weight: $font-weight-medium;
      cursor: pointer;
      &:active {
        opacity: .7;
      }
      &:disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
  }
}
