.footer {
    background-color: #fafafa;
    padding: 0 16px;
    .footer-container {
        margin-bottom: 52px;
        .footer-info {
            margin-top: 24px;
            .footer-description {
                display: flex;
                justify-content: center;
                .footer-description-link {
                    margin: -2px 8px 9px 8px;
                    color: #8e8e8e;
                    font-size: 12px;
                }
            }
        }
        .footer-project {
            margin: 12px 0;
            display: flex;
            justify-content: center;
            .footer-project-description {
                margin: -2px 8px -3px;
                color: #8e8e8e;
                font-size: 12px;
            }
        }
    }
}