.footer {
    background-color: #fafafa;
    padding: 0 16px;
    .footer-container {
        margin-bottom: 52px;
        .footer-section {
            margin-top: 24px;
        }
        .footer-project {
            margin: 12px 0;
        }
    }
}