@import "../../constants/variables";

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-white;
  border-bottom: 1px solid $color-soft-gray;
  height: 60px;
  padding: 0 20px;
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;
    .nav-logo {
      height: 30px;
      flex: 1 0 127px;
    }
    .nav-search {
      background: $color-light-gray;
      height: 36px;
      border-radius: 8px;
      min-width: 125px;
      width: 268px;
      display: flex;
      align-items: center;
      padding: 3px 16px;
      .nav-search-btn {
        display: flex;
        align-items: center;
        margin-right: 12px;
        .nav-search-icon {
          color: $color-dark-gray;
          width: 16px;
          height: 16px;
          fill: none;
          stroke: currentColor;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2;
        }
      }
      .nav-search-input {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $color-black;
      }
      ::placeholder {
        display: flex;
        align-items: center;
        color: $color-dark-gray;
        font-size: 16px;
        font-weight: 300;
      }
      :focus {
        outline: none;
      }
    }
    .nav-menu {
      flex: 1 0 127px;
      display: flex;
      justify-content: flex-end;
      .nav-user-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
