.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-white;
  border-bottom: 1px solid $color-soft-gray;
  height: 60px;
  padding: 0 20px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;
    .nav-logo {
      height: 30px;
      flex: 1 0 127px;
    }
    .nav-search {
      background: $color-light-gray;
      height: 36px;
      border-radius: 8px;
      min-width: 125px;
      width: 268px;
      display: flex;
      align-items: center;
      padding: 3px 16px;
      &-btn {
        display: flex;
        align-items: center;
        margin-right: 12px;
        .nav-search-icon {
          color: $color-dark-gray;
          width: 16px;
          height: 16px;
          fill: none;
          stroke: currentColor;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2;
        }
      }
      &-input {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $color-black;
      }
      ::placeholder {
        display: flex;
        align-items: center;
        color: $color-dark-gray;
        font-size: $font-size-xl;
        font-weight: $font-weight-light;
      }
      :focus {
        outline: none;
      }
    }
    .nav-menu {
      flex: 1 0 127px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        display: flex;
      }
      .nav-icon-filled {
        color: $color-black;
        fill: $color-black;
        width: 24px;
        height: 24px;
      }
      .nav-icon-unfilled {
        color: $color-black;
        fill: none;
        stroke: currentColor;
        stroke-linejoin: round;
        stroke-width: 2px;
        width: 24px;
        height: 24px;
      }
      .nav-user {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 22px;
        .nav-icon-messenger {
          fill: none;
          stroke: currentColor;
          stroke-miterlimit: 10;
          stroke-width: 1.739;
        }
        .nav-icon-rule {
          fill-rule: evenodd;
        }
        .nav-icon-stroke {
          fill: none;
          stroke: currentColor;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2;
        }
        &-circle {
          border: 1px solid $color-black;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
        &-img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
        }
        &-character {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          background: $color-black;
        }
        .nav-toggle-show {
          position: relative;
          margin-left: -180px;
          top: 15px;
          .nav-toggle-hide {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: fixed;
            display: flex;
            z-index: 2;
          }
          .nav-tools-container {
            background-color: $color-white;
            border-radius: 6px;
            box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
            position: absolute;
            display: flex;
            z-index: 3;
            .nav-tools-pointer {
              position: absolute;
              left: 184px;
              bottom: 0;
              top: -6px;
              background: $color-white;
              border: 1px solid $color-white;
              box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
              height: 14px;
              width: 14px;
              transform: rotate(45deg);
              display: flex;
            }
            .nav-user-tools {
              background: $color-white;
              border-radius: 6px;
              position: relative;
              width: 100%;
              height: 100%;
              overflow: hidden;
              .nav-tool-btn {
                padding: 8px 16px 8px 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover {
                  background-color: $color-dark-white;
                }
                &:focus {
                  background-color: $color-light-gray;
                }
                .nav-tool-icon {
                  color: $color-black;
                  fill: $color-black;
                  width: 16px;
                  height: 16px;
                  margin-right: 12px;
                  .nav-icon-profile {
                    fill: none;
                    stroke: currentColor;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                    stroke-width: 2;
                  }
                  .nav-icon-settings {
                    fill: none;
                    stroke: currentColor;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2;
                  }
                }
                .nav-tool-description {
                  color: $color-black;
                  font-size: $font-size-l;
                  font-weight: $font-weight-normal;
                  width: 170px;
                  height: 28px;
                  display: flex;
                  align-items: center;
                  margin: -3px 0 -4px;
                  cursor: pointer;
                }
              }
              .nav-tool-divider {
                background-color: $color-soft-gray;
                width: 100%;
                height: 1px;
              }
            }
          }
        }
      }
      .form-background {
        background-color: $color-dark-black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
