.auth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.auth-main .auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0;
  max-width: 935px;
  width: 100%;
  padding-bottom: 32px;
}
.auth-main .auth-container .auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 12px;
  max-width: 350px;
}
.auth-main .auth-container .auth .auth-form-container {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.auth-main .auth-container .auth .auth-form-container .auth-logo {
  margin: 22px auto 12px;
}
.auth-main .auth-container .auth .auth-form-container .auth-form {
  display: flex;
  flex-direction: column;
  margin: 24px 0 10px;
  max-width: 350px;
  width: 100%;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-submit {
  display: flex;
  justify-content: center;
  margin: 8px 40px;
  background-color: #0095f6;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  cursor: pointer;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-submit:active {
  opacity: 0.7;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-submit-disabled {
  background-color: rgba(0, 149, 246, 0.3);
  opacity: 1;
  pointer-events: none;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-divider {
  display: flex;
  margin: 10px 40px 18px;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-divider .auth-divider-line {
  background-color: #dbdbdb;
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.45em;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-divider .auth-divider-text {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 40px;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-google-login .auth-google-oauth {
  width: 100%;
  box-shadow: none !important;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-google-login .auth-google-oauth div {
  display: flex;
  align-items: center;
}
.auth-main .auth-container .auth .auth-form-container .auth-form .auth-google-login .auth-google-oauth span {
  margin: auto;
  font-family: Roboto, sans-serif;
  font-weight: 600 !important;
}
.auth-main .auth-container .auth .auth-form-container .auth-account {
  color: #262626;
  font-size: 14px;
  margin: 15px;
}
.auth-main .auth-container .auth .auth-form-container .auth-account-btn {
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  background-color: #fafafa;
  padding: 0 16px;
}
.footer .footer-container {
  margin-bottom: 52px;
}
.footer .footer-container .footer-info {
  margin-top: 24px;
}
.footer .footer-container .footer-info .footer-description {
  display: flex;
  justify-content: center;
}
.footer .footer-container .footer-info .footer-description .footer-description-link {
  margin: -2px 8px 9px 8px;
  color: #8e8e8e;
  font-size: 12px;
}
.footer .footer-container .footer-project {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}
.footer .footer-container .footer-project .footer-project-description {
  margin: -2px 8px -3px;
  color: #8e8e8e;
  font-size: 12px;
}

.form {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 718px;
  min-width: 348px;
  min-height: 391px;
  position: absolute;
  z-index: 1;
  margin: 20px;
}
.form .form-title {
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}
.form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: calc(100vmin - 112px - 43px - 64px);
  max-height: min(100vw - 32px - 340px, 855px);
  max-width: min(100vw - 32px - 340px, 855px);
  min-height: 348px;
  min-width: 348px;
  padding: 24px;
}
.form form .form-media {
  color: #262626;
  width: 96px;
  height: 77px;
  fill: #262626;
}
.form form .form-media-title {
  color: #262626;
  font-size: 22px;
  font-weight: 300;
  margin-top: 16px;
  line-height: 26px;
}
.form form .form-file-btn {
  margin-top: 24px;
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 18px;
  cursor: pointer;
}
.form form .form-file-btn:active {
  opacity: 0.7;
}
.form form .form-file-btn .form-filebase {
  display: none;
}
.form form .form-input {
  border-bottom: 1px solid #dbdbdb;
  margin-top: 24px;
  padding: 4px 9px;
  outline: 0;
}
.form form .form-input:focus::placeholder {
  color: #a8a8a8;
}
.form form .form-submit-btn {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  cursor: pointer;
}
.form form .form-submit-btn:active {
  opacity: 0.7;
}

.home-main {
  flex-grow: 1;
}
.home-main .home-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin: 0 auto;
  width: 100%;
}
.home-main .home-section .home-posts {
  margin-right: 28px;
  max-width: 614px;
}
.home-main .home-section .home-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-main .home-section .home-form .home-form-background {
  display: block;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.input-container {
  margin: 0 40px 6px;
  display: flex;
  align-items: center;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
}
.input-container:focus-within {
  border: 1px solid #a8a8a8;
}
.input-container .input-label {
  display: flex;
  line-height: 36px;
  height: 36px;
  flex: 1 0 0;
  position: relative;
}
.input-container .input-label .input-placeholder {
  color: #8e8e8e;
  font-size: 12px;
  position: absolute;
  left: 8px;
  right: 0;
  transform-origin: left;
  pointer-events: none;
}
.input-container .input-label .input-placeholder-nonempty {
  transform: scale(0.83333) translateY(-10px);
}
.input-container .input-label .input {
  flex: 1 0 auto;
  font-size: 16px;
  padding: 9px 0 7px 8px;
  outline: 0;
}
.input-container .input-label .input-nonempty {
  font-size: 12px;
  padding: 14px 0 2px 8px;
}
.input-container .input-password-container {
  padding-right: 8px;
}
.input-container .input-password-container .input-password {
  margin-left: 8px;
}
.input-container .input-password-container .input-password .input-password-btn {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 60px;
  padding: 0 20px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 975px;
  width: 100%;
  padding: 0 20px;
}
.nav-container .nav-logo {
  height: 30px;
  flex: 1 0 127px;
}
.nav-container .nav-search {
  background: #efefef;
  height: 36px;
  border-radius: 8px;
  min-width: 125px;
  width: 268px;
  display: flex;
  align-items: center;
  padding: 3px 16px;
}
.nav-container .nav-search-btn {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.nav-container .nav-search-btn .nav-search-icon {
  color: #8e8e8e;
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.nav-container .nav-search-input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #262626;
}
.nav-container .nav-search ::placeholder {
  display: flex;
  align-items: center;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 300;
}
.nav-container .nav-search :focus {
  outline: none;
}
.nav-container .nav-menu {
  flex: 1 0 127px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-container .nav-menu a {
  display: flex;
}
.nav-container .nav-menu .nav-icon-filled {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.nav-container .nav-menu .nav-icon-unfilled {
  color: #262626;
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 2px;
  width: 24px;
  height: 24px;
}
.nav-container .nav-menu .nav-user {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 22px;
  cursor: pointer;
}
.nav-container .nav-menu .nav-user .nav-icon-messenger {
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 1.739;
}
.nav-container .nav-menu .nav-user .nav-icon-rule {
  fill-rule: evenodd;
}
.nav-container .nav-menu .nav-user .nav-icon-stroke {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.nav-container .nav-menu .nav-user-circle {
  border: 1px solid #262626;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.nav-container .nav-menu .nav-user-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-container .nav-menu .nav-user-character {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #262626;
}
.nav-container .nav-menu .nav-user .nav-toggle-show {
  position: relative;
  margin-left: -180px;
  top: 15px;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-toggle-hide {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  z-index: 2;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  z-index: 3;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-tools-pointer {
  position: absolute;
  left: 184px;
  bottom: 0;
  top: -6px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  display: flex;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools {
  background: #fff;
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn {
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn:hover {
  background-color: #fafafa;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn:focus {
  background-color: #efefef;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn .nav-tool-icon {
  color: #262626;
  fill: #262626;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn .nav-tool-icon .nav-icon-profile {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn .nav-tool-icon .nav-icon-settings {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-btn .nav-tool-description {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  width: 170px;
  height: 28px;
  display: flex;
  align-items: center;
  margin: -3px 0 -4px;
  cursor: pointer;
}
.nav-container .nav-menu .nav-user .nav-toggle-show .nav-tools-container .nav-user-tools .nav-tool-divider {
  background-color: #dbdbdb;
  width: 100%;
  height: 1px;
}
.nav-container .nav-menu .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nav-container .nav-menu .form-container .form-background {
  display: block;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.post {
  background: #fff;
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post .post-header {
  padding: 14px 4px 14px 16px;
  max-width: calc(100% - 48px);
  flex-grow: 1;
}
.post .post-user {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.post .post-menu-btn {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.post .post-menu-btn .post-menu-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-menu-background {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.post .post-menu-background .post-menu-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.post .post-menu-background .post-menu-container button {
  border-top: 1px solid #dbdbdb;
  min-height: 48px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}
.post .post-menu-background .post-menu-container button:first-child {
  border-top: none;
}
.post .post-menu-background .post-menu-container button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.post .post-menu-background .post-menu-container .post-menu-warning {
  color: #ed4956;
  font-weight: 700;
}
.post .post-img {
  width: 100%;
}
.post .post-btns {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.post .post-btns .post-like-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.post .post-btns .post-like-btn:hover .post-like-icon {
  fill: #8e8e8e;
}
.post .post-btns .post-like-btn .post-like-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-btns .post-like-btn .post-unlike-icon {
  color: #ed4956;
  fill: #ed4956;
  width: 24px;
  height: 24px;
}
.post .post-btns .post-comment-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.post .post-btns .post-comment-btn:hover .post-comment-icon {
  color: #8e8e8e;
}
.post .post-btns .post-comment-btn .post-comment-icon {
  color: #262626;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;
  fill: none;
}
.post .post-btns .post-share-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.post .post-btns .post-share-btn:hover .post-share-icon {
  color: #8e8e8e;
}
.post .post-btns .post-share-btn .post-share-icon {
  color: #262626;
  width: 24px;
  height: 24px;
}
.post .post-btns .post-share-btn .post-share-icon .share-icon-line {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 2;
}
.post .post-btns .post-share-btn .post-share-icon .share-icon-polygon {
  fill: none;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 2;
}
.post .post-likes {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 8px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.post .post-comments-container {
  padding: 0 16px;
}
.post .post-comments-container .post-message {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}
.post .post-comments-container .post-tags {
  color: #00376b;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0;
}
.post .post-comments-container .post-comments-display {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
}
.post .post-time {
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
}
.post .post-comment-add {
  border-top: 1px solid #efefef;
  padding: 6px 16px;
  width: 100%;
  display: flex;
  align-items: center;
}
.post .post-comment-add .post-emoji-container {
  padding: 8px 16px 8px 0;
}
.post .post-comment-add .post-emoji-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.post .post-comment-add .post-emoji-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.post .post-comment-add .post-comment-area {
  display: flex;
  flex-grow: 1;
  height: 18px;
  line-height: 18px;
  max-height: 80px;
  color: #262626;
  outline: 0;
  font-size: 14px;
}
.post .post-comment-add .post-comment-send {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.post .post-comment-add .post-comment-send:active {
  opacity: 0.7;
}
.post .post-comment-add .post-comment-send:disabled {
  opacity: 0.3;
  cursor: auto;
}

.details-container {
  box-sizing: content-box;
  padding: 40px 20px;
  max-width: 935px;
  width: calc(100% - 40px);
  margin: 0 auto;
  align-items: stretch;
  flex-grow: 1;
}
.details-container .details {
  display: flex;
  width: 100%;
  min-height: 450px;
  max-height: 600px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
.details-container .details .details-img-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 598px;
  overflow: hidden;
  flex: 0 0 auto;
}
.details-container .details .details-img-container .details-img {
  height: 100%;
}
.details-container .details .details-social-container {
  display: flex;
  flex-direction: column;
  width: 335px;
  flex: 0 0 auto;
}
.details-container .details .details-social-container .details-header-container {
  display: flex;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.details-container .details .details-social-container .details-header-container .details-header {
  padding: 14px 4px 14px 16px;
  max-width: calc(100% - 48px);
  flex-grow: 1;
}
.details-container .details .details-social-container .details-header-container .details-header .details-user {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.details-container .details .details-social-container .details-header-container .details-menu-btn {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.details-container .details .details-social-container .details-header-container .details-menu-btn .details-menu-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.details-container .details .details-social-container .details-header-container .details-menu {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.details-container .details .details-social-container .details-header-container .details-menu .details-menu-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.details-container .details .details-social-container .details-header-container .details-menu .details-menu-container button {
  border-top: 1px solid #dbdbdb;
  min-height: 48px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}
.details-container .details .details-social-container .details-header-container .details-menu .details-menu-container button:first-child {
  border-top: none;
}
.details-container .details .details-social-container .details-header-container .details-menu .details-menu-container button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.details-container .details .details-social-container .details-header-container .details-menu .details-menu-container .details-menu-warning {
  color: #ed4956;
  font-weight: 700;
}
.details-container .details .details-social-container .details-comments-container {
  padding: 16px;
  overflow-y: scroll;
  height: calc(100% - 32px);
  flex-grow: 1;
}
.details-container .details .details-social-container .details-comments-container::-webkit-scrollbar {
  display: none;
}
.details-container .details .details-social-container .details-comments-container .details-user {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.details-container .details .details-social-container .details-comments-container .details-message {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  right: 0;
}
.details-container .details .details-social-container .details-comments-container .details-tags {
  color: #00376b;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0;
}
.details-container .details .details-social-container .details-btns {
  display: flex;
  align-items: center;
  padding: 6px 8px 8px 8px;
  width: 100%;
  border-top: 1px solid #efefef;
  margin-top: 4px;
}
.details-container .details .details-social-container .details-btns .details-like-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.details-container .details .details-social-container .details-btns .details-like-btn:hover .post-like-icon {
  fill: #8e8e8e;
}
.details-container .details .details-social-container .details-btns .details-like-btn .details-like-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.details-container .details .details-social-container .details-btns .details-like-btn .details-unlike-icon {
  color: #ed4956;
  fill: #ed4956;
  width: 24px;
  height: 24px;
}
.details-container .details .details-social-container .details-btns .details-comment-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.details-container .details .details-social-container .details-btns .details-comment-btn:hover .post-comment-icon {
  color: #8e8e8e;
}
.details-container .details .details-social-container .details-btns .details-comment-btn .details-comment-icon {
  color: #262626;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;
  fill: none;
}
.details-container .details .details-social-container .details-likes {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 8px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.details-container .details .details-social-container .details-time {
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
}
.details-container .details .details-social-container .details-comment-add {
  border-top: 1px solid #efefef;
  padding: 6px 16px;
  width: 100%;
  display: flex;
  align-items: center;
}
.details-container .details .details-social-container .details-comment-add .details-emoji-container {
  padding: 8px 16px 8px 0;
}
.details-container .details .details-social-container .details-comment-add .details-emoji-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.details-container .details .details-social-container .details-comment-add .details-emoji-icon {
  color: #262626;
  fill: #262626;
  width: 24px;
  height: 24px;
}
.details-container .details .details-social-container .details-comment-add .details-comment-area {
  display: flex;
  flex-grow: 1;
  height: 18px;
  line-height: 18px;
  max-height: 80px;
  color: #262626;
  outline: 0;
  font-size: 14px;
}
.details-container .details .details-social-container .details-comment-add .details-comment-send {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
}
.details-container .details .details-social-container .details-comment-add .details-comment-send:disabled {
  opacity: 0.3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Segoe UI", sans-serif;
  color: inherit;
  text-decoration: inherit;
  background: none;
  list-style-type: none;
  box-sizing: border-box;
  vertical-align: baseline;
  resize: none;
}

.app {
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

.body-menu-overflow {
  overflow: hidden;
}

.body-form-overflow {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
